<div class="container" fxFlexLayout="row" fxFlexAlign="space-between">
    <mat-card>
        <mat-card-header>
            <mat-card-title>Replenish</mat-card-title>
        </mat-card-header>
        <mat-card-content fxFlexLayout="column" fxFlexAlign="center">
            <form [formGroup]="form" fxFlexLayout="column" fxFlexAlign="center">
                <mat-form-field class="form-field" appearance="outline">
                    <mat-label>Card to replenish</mat-label>
                    <mat-select id="type" formControlName="cardTo" class="form-control">
                        <mat-option *ngFor='let card of cards |async' [value]="card">
                            <p *ngIf="!card.blocked"> Card number: {{card.cardNumber}} | Balance:
                                {{card.balance}}</p>
                        </mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field class="form-field" appearance="outline">
                    <mat-label>Amount</mat-label>
                    <input matInput formControlName="amount" #input type="number" placeholder="Amount">
                </mat-form-field>
            </form>
        </mat-card-content>
        <mat-card-actions>
            <button mat-raised-button color="accent" (click)="submit()">Submit</button>
        </mat-card-actions>
    </mat-card>
</div>