<div class="container" fxLayout="row" fxLayoutAlign="space-around center">
    <mat-card>
        <mat-card-content fxLayout="column" fxLayoutAlign="space-around center">
            <mat-icon fxFlexAlign="center">done_outline</mat-icon>
            <h3>Payment successfully submitted!</h3>
        </mat-card-content>
        <mat-card-actions fxLayout="row" fxLayoutAlign="space-around center">
            <button mat-button target="_blank" (click)="toProfile()">Go back to profile</button>
        </mat-card-actions>
    </mat-card>
</div>